.type-27 {
  margin-top: 50px;
  width: 370px; }
  .type-27 select {
    cursor: pointer; }
  .type-27 .form {
    padding-bottom: 15px; }
  .type-27 .select-top-left {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    width: 100%; }
  .type-27 .select-right {
    padding-left: 0; }
    .type-27 .select-right .select-top-right {
      padding: 10px 0 10px 10px;
      border-radius: 5px;
      width: 100%; }
  .type-27 select:focus {
    outline: 0; }
  .type-27 .input-title {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid; }
  .type-27 input:focus {
    outline: 0; }
  .type-27 .categories {
    padding: 10px 0 10px 10px;
    width: 100%;
    border-radius: 5px; }
  .type-27 .locations {
    padding: 10px 0 10px 10px;
    width: 100%;
    border-radius: 5px; }
